@page
@model IEnumerable<ddd_sample.Application.Dtos.DeviceDto>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Devices</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var device in Model)
        {
            <tr>
                <td>@device.DeviceName</td>
               @*  <td>@device.Description</td>
                <td>
                    <button class="btn btn-warning" onclick="editDevice(@device.Id, '@device.Name', '@device.Description')">Edit</button>
                    <form action="/Home/Delete" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@device.Id" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td> *@
            </tr>
        }
    </tbody>
</table>

